.ma-t-20 {
  margin-top: 20px;
}
.bo-1px-s {
  border: 1px solid #8d8d8d;
}
.d-f {
  display: flex;
}
.ju-c-c {
  justify-content: space-between;
}
.he-400px {
  height: 100vh;
}
.al-i-c {
  align-items: center;
}
.pa-4px {
  padding: 4px;
}
.bo-r {
  border-radius: 3px;
}
.fl-d-c {
  flex-direction: column;
}
.wi-100 {
  width: 100%;
}
.wi-300px {
  width: 300px;
}
